.userList {
    margin-top: 4rem;
}
.userListItem {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    list-style-type: none;
    background-color: rgb(232, 231, 231);
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.userListItem a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
}

.userListItem a img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.userInfoList {
    display: flex;
    flex-direction: column;
    height: 5rem;
    color: #3c8dbc;
}
