.loader-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-content {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid var(--primerColor);
    border-top-color: transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
