.settings-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    border: 0px none;
    /* height: auto; */
    min-height: 1rem;
    max-width: 20rem;
    min-width: 1rem;
    background-color: #d8d8d8ba;
    border-radius: 1rem;
    position: relative;
    margin-top: 4.2rem;
}

.settings-card h2 {
    font-size: 1.5rem;
    margin-top: 5rem;
    color: black;
    text-align: center;
}

.avatar-settings{
    display: flex;
    width: 8rem;
    min-height: 0.5rem;
    height: 8rem;
    min-width: 0.5rem;
    background-color: rgba(255, 255, 255, 0.524);
    border-radius: 50%;
    position: absolute;
    bottom: 85%;
    left: 30%;
    margin-bottom: 1rem;
}


.avatar-settings img {
    min-height: 1rem;
    min-width: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.settings-form{
    display: flex;
    flex-direction: column;
    
}

.edit-personalInfo{
    width:auto;
    display: flex;
    flex-direction: column;

}

.edit-personalInfo textarea{
    background-color: white;
    
}

.edit-personalInfo button{
    width:60%;

}
