.settings-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    border: 0px none;
    /* height: auto; */
    min-height: 1rem;
    max-width: 20rem;
    min-width: 1rem;
    background-color: #d8d8d8ba;
    border-radius: 1rem;
    position: relative;
    margin-top: 4.2rem;
    
}

.settings-card h2 {
    font-size: 1.5rem;
    margin-top: 5rem;
    color: black;
    text-align: center;
}

.avatar-settings{
    display: flex;
    width: 8rem;
    min-height: 0.5rem;
    height: 8rem;
    min-width: 0.5rem;
    background-color: rgba(255, 255, 255, 0.524);
    border-radius: 50%;
    position: absolute;
    bottom: 85%;
    left: 30%;
    margin-bottom: 1rem;
}


.avatar-settings img {
    min-height: 1rem;
    min-width: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.settings-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*personal info*/
.edit-personalInfo{
    display:flex;
    flex-direction: column;
    width: 95%;
    

}
.edit-personalInfo button{
    border-radius: 0.5rem;
    width:25%;
    align-self: flex-end;
    margin-top: 0.3rem;
    border:none;
}
.edit-personalInfo textarea{
    border-radius: 0.5rem;
    max-width: 100%;
    width:100%;
    border:none;
}

/*edit place*/

.edit-place{
    display:flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: -1rem;
}
.edit-place button{
    border-radius: 0.5rem;
    width:25%;
    align-self: flex-end;
    margin-top: 0.25rem;
    border:none;
}
.edit-place input{
    border-radius: 0.5rem;
    max-width: 100%;
    width:100%;
    border:none;
}

.edit-place p{
    margin-top: 0;
    margin-bottom: 1.2rem;
    text-align: center;
    
}


/*edit avatar*/

.edit-Avata{

}
.edit-Avata input{
display: flex;
       
}

.edit-Avata button{
    border-radius: 0.5rem;
    width:25%;
    align-self: flex-end;
    margin-top: 0.25rem;
    border:none;
}
/*edit password*/

.edit-pass{
    display: flex;
    flex-direction: column;
    width:95%;
    margin-top:0.5rem;
    

}
.edit-pass input{
    border-radius: 0.5rem;
    width:50%;
    margin-left: 0.5rem;
    border:none;
    
}

.edit-actualizar{
    display: flex;
    justify-content: flex-end;

}
.edit-pass button{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top:0.25rem;
    border:none;
    text-align: center;
    width:5rem;
}

.edit-currentpass{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
    

}
.edit-currentpass input{
    margin-left: 0.7rem;
}
.edit-newpass{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.edit-newpass input{
    margin-left: 0.7rem;
}

.edit-repeatpass{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}