.classP p {
    text-align: center;
    color: black;
}

.classP {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 20rem;
    align-content: center;
    border-radius: 0 0 2rem 2rem;
    margin: 0 auto;
}
