.title-info {
    font-family: Helvetica, Arial, sans-serif;
    padding: 3rem 3rem 1.5rem 3rem;
    text-align: center;
    color: var(--primerColor);
}

.text-info {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 3rem 3rem 3rem;
    text-align: center;
    color: var(--primerColor);
}
.guest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    font-family: Helvetica, Arial, sans-serif;
}
