.publicationForm {
    display: flex;
    margin: auto;
    height: 18rem;
    width: 20rem;
    min-height: 1rem;
    min-width: 1rem;
    background-color: #d6d6d6ba;
    border-radius: 0 0 1rem 1rem;
}

.publicationForm form {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.ubication {
    display: flex;
    flex-direction: row;
    background-color: rgb(213, 213, 213);
    width: 6rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
}
.titleForm {
    padding-left: 0.7rem;

    width: 9rem;
    border-radius: 1rem;
    border: none;
}

.publicationForm textarea {
    text-align: center;
    width: 90%;
    height: 5rem;
    max-height: 5rem;
    border: none;
}

.buttonPublication {
    background-color: white;
    border: none;
    width: 6rem;
    border-radius: 1rem;
}
.buttonPublicationContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.photoImage {
    border: none;
}

.precarga {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem 1rem 0 0;
}

.imgBox {
    flex-wrap: nowrap;
    align-content: center;
    flex-wrap: nowrap;
    align-content: center;
    margin: 3rem auto auto auto;
    height: 20rem;
    width: 20rem;
    min-height: 1rem;
    min-width: 1rem;
    background-color: #d6d6d6ba;
    border-radius: 1rem 1rem 0 0;
    max-width: 20rem;
}

.fileIcon img {
    width: 3rem;
    height: 3rem;
}
.fileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
}

.publicationForm form p {
    margin-bottom: 0;
}
