.reg-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 0px none;
    height: auto;
    width: 20rem;
    min-width: 1rem;
    background-color: #000000ba;
    border-radius: 1rem;
    position: relative;
    top: 150px;
    padding: 1rem;
}
.reglogo-container img {
    background-color: var(--primerColor);
    border-radius: 50%;
    min-height: 1rem;
    min-width: 1rem;
    width: 8rem;
    height: 8rem;
}

.reglogo-container {
    display: flex;
    flex-direction: column;
    width: 8rem;
    min-height: 0.5rem;
    height: 8rem;
    min-width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: 92.1%;
    align-items: center;
    justify-content: center;
}

.register-input {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.register-input h2 {
    color: var(--primerColor);
    text-align: center;
}
.check-role input {
    margin-bottom: 0;
}
.check-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    color: var(--primerColor);
}
/*para modificarlas se tendria que hacer separado*/
.label-role {
    margin: 0.7rem 1rem 0 0.4rem;
}

.no-register {
    color: var(--primerColor);
}
