* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100vh;
}

body {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 1fx;
    grid-template-rows: 200px;
    grid-template-areas: "header-layout"
                            "main-layout"
                            "footer-layout";
                    
    background-color: white;
    top: 0;
    left: 0;
}

.header-layout {
    grid-area: header-layout;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content:space-between
}

.main-layout {
    grid-area: main-layout;
    height: 90vh;
}

.footer-layout {
    grid-area: footer-layot;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}