.publication-container {
    margin: -1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 10rem;
    max-width: 20rem;
    height: auto;
}

.pubavatar-container {
    display: inline-block;
    position: relative;
    min-height: 1rem;
    width: 60px;
    min-width: 1rem;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.pubavatar-container img {
    object-fit: cover;
    width: 60px;
    min-width: 1rem;
    height: 60px;
}

.correccion img {
    width: 100px;
    min-width: 1rem;
    height: 100px;
    min-height: 1rem;
}

.publication-header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    list-style-type: none;
    background-color: var(--primerColor);
    border-radius: 1.5rem 1.5rem 0 0;
    margin-top: 2rem;
    height: 6rem;
}

.header-username {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem 1rem 1rem 1rem;
}

.user-name {
    font-weight: 600;
    font-size: 16px;
}

.header-username :nth-child(1) {
    color: rgb(0, 0, 0);

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
.header-username time {
    color: black;
}

.location2 {
    height: 2rem;
}

.photo-info {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;

    word-wrap: break-word;
    white-space: pre-line;
}

.photo-info h3 {
    color: var(--quintoColor);
    background-color: var(--primerColor);
    text-decoration: none;
    padding-top: 0.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.photo-info p {
    color: var(--quintoColor);
    background-color: var(--primerColor);
    text-align: center;
    margin-bottom: 0;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 300;
}

.photo-info img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.footer-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primerColor);
    border-radius: 0 auto 1.5rem 1.5rem;
    margin-bottom: 1rem;
}

.heart {
    width: 4rem;
    border-radius: 0.3rem;
    border: none;
}

.delete-button {
    width: 2rem;
    border-radius: 0.3rem;
    border: none;
}

/*Este es el estilo del div de los likes, hay que eliminar el que estaba antes
/*con cuidado para que no afecte a nada más*/

.toogle-like {
    display: flex;
    flex-direction: row;
}

.me-gusta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-info video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
