.avatar-container {
    display: inline-block;
    position: relative;
    min-height: 1rem;
    width: 60px;
    min-width: 1rem;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
}





.correccion img{
    width: 100px;
    min-width: 1rem;
    height: 100px;
    min-height: 1rem;
}

.publication-header{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 0px none;
    height: 26.25rem;
    min-height: 1rem;
    width: 20rem;
    min-width: 1rem;
    width:30rem;
    

}

.header-info{
    display: flex;
    flex-direction: column;
    width:30rem;
    padding-left: 1rem;
    border: 1px solid black;
}

.header-info2{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;

}

.photo-info{
    border: 1px solid black;
    text-align: center;
    margin:0 2rem;

}

.photo-info img{
    width:20rem;
    height:20rem;

}

.footer-like{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}