
.notfound-title{
    font-size: 4rem;
    font-weight: bold;
    color:white;
    padding:5rem 2rem 0rem 2rem;
    text-align: center;

}
.notfound-text{

    color: white;
    text-align: center;
    padding: 0rem 2rem;
    font-size: 2rem;

}   